# Ignore unnecessary Unity files
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/

# Ignore project-specific files
[Dd]ebug/
[Uu]ser[Ss]ettings/
*.pidb
*.booproj
*.suo
*.user
*.userprefs
*.csproj
*.unityproj
*.sln
*.swp
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
sysinfo.txt

# Ignore crash reports and log files
sysinfo.txt
crash-reports/
*.log

# Ignore Git LFS tracked files
.gitattributes
